<div role="main" class="main id nonsticky">
  
  <header>
    <h1><%= @post.title %></h1>
    <small>published by 
      <span class="author"><%= link_to @post.author.username, @post.author %></span>
      on <%= time_tag @post.updated_at, @post.updated_at.to_formatted_s(:post_show_published) %> <span class="favorite-count">40 &hearts;</span></small>
    <%= render("nav") %>
  </header>

  <div class="edit">
      <%= semantic_form_for @post do |f| %>
        <%= f.inputs do %>
          <%= f.input :title %>
          <%= f.input :summary %>
          <%= f.input :body %>
          <%= f.input :file, :as => :file %>
          <%= f.input :draft_status_id, :as => :radio, :collection => DraftStatus.all %>
        <% end %>
        <%= f.actions %>
      <% end %>
  </div>
  
</div>
