<div role="main" class="main id nonsticky">
  
  <header>
    <h1><%= @post.title %></h1>
    <small>published by 
      <span class="author"><%= link_to @post.author.username, @post.author %></span>
      on <%= time_tag @post.updated_at, @post.updated_at.to_formatted_s(:post_show_published) %> <span class="favorite-count">40 &hearts;</span></small>
    <%= render("nav") %>
  </header>

  <div class="edit">
      <%= form_for(@post) do |f| %>

       <%= render 'shared/error_messages' %>

        <%= f.label :title %>
        <%= f.text_field :title %>

        <%= f.label :summary %>
        <%= f.text_area :summary %>

        <%= f.label :body %>
        <%= f.text_area :body %>

        <%= f.label :discussion %>
        <%= f.check_box :discussion %>

        <%= f.label :draft_status_id %>
        <%= f.collection_select :draft_status_id, DraftStatus.all, :id, :value, {}, { :multiple => false } %>

        <%= f.submit "Update post", class: "btn btn-large btn-primary" %>
      <% end %>
  </div>
  
</div>
