<div role="main" class="main id nonsticky">
	
  <header>
		<h1><%= @post.title %></h1>
		<small>published by 
			<span class="author"><%= link_to @post.author.username, @post.author %></span>
			on <%= time_tag @post.updated_at, @post.updated_at.to_formatted_s(:post_show_published) %> <span class="favorite-count">40 &hearts;</span></small>
		<%= render("nav") %>
  </header>

  <div class="read">
		<div class="content">

			<% post_grafs = @post.body.split("\n\n") %>
			<% for graf in post_grafs %>
				<p><%= graf %></p>
			<% end %>

	    <% if can? :update, @post %>
	      User can update post
	    <% end %>

		</div>
	</div> 

</div>
