
  <nav id="topNav" class="clearfix">
  <div class="outerWrapper">
  <div class="innerWrapper">
	<h1 id="postbookLogo">
		<%= link_to(root_path, :title => "Go to Postbook Homepage") do %>
			Postbook
			<%= image_tag("postbookLogo.png", :alt => "Postbook") %>
		<% end %>
	</h1>
	<%= render_navigation %>
	<form>
	<input type="text" name="q" />
	</form>
	<ul id="personalNav">

		<% if(author_signed_in?) %>
		<li><span><%= current_author.username %></span>
		<div class="dropdown">
			<div class="tip"></div>
			<ul>
				<li><a href="/dashboard"><span>dashboard</span></a></li>
				<li><a href="/settings"><span>settings</span></a></li>
				<li><a href="/profile"><span>profile</span></a></li>
				<li><span></span></li>
				<!-- <li><a href="/logout"><span>logout</span></a></li> -->
				<li><%= link_to "Logout", destroy_author_session_path, :method => :delete %></li>
			</ul>
		</div></li>
		<% else %>
		<li><%= link_to "Login", "/authors/login" %> | <%= link_to "Sign up", "/authors/sign_up" %><br /></li>
		<% end %>
	</ul>
	</div>
	</div>
	</nav>
