<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "modernizr-2.5.3.min.js" %>
    <%= javascript_include_tag "jquery-1.7.1.min.js" %>
    <%= javascript_include_tag "waypoints.min.js" %>

    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
	    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "sample app", '#', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Home",    '#' %></li>
              <li><%= link_to "Help",    '#' %></li>
              <% if author_signed_in? %>
              <li>Logged in as <strong><%= current_author.email %></strong></li>
              <li><%= link_to 'Edit profile', edit_author_registration_path %></li>
              <li><%= link_to 'Logout', destroy_author_session_path, method: :delete %></li>
              <% else %>
              <li><%= link_to "Login", new_author_session_path %></li>
              <li><%= link_to "Sign in with Twitter", author_omniauth_authorize_path(:twitter) %></li>
              <li><%= link_to 'Sign up', new_author_registration_path %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </div>
          <%= debug(params) if Rails.env.development? %>
</body>
</html>
